<br/>
<br/>
<div class="container">
    <br />
    <img src="~/Images/faleconosco1.jpg" alt="Fale Conosco"/>
    <div class="jumbotron">
        <h2> Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma dúvida ou sugestão, fale conosco.
        </p>
        <p>
            <img src="~/Images/Envelope-icon.png" />
            <email Endereco="franzfialho@gmail.com" Conteudo="Enviar um e-mail"></email>
            <br />
            <img src="~/Images/phone-app-icon.png" />
            (31)971260734
            <br/>
            <img src="~/Images/Home-icon.png" />
            Av. João Hémetrio de Menezes, 678 - Centro - Belo Oriente/MG
        </p>
    </div>
</div>